# IDEA
.idea
.idea/*

# USER
*.user

# Settings
*.DotSettings

# OBJECT
obj
obj/*

# BIN
bin
bin/*

# PACKAGE
packages
packages/*

# BUILDED PACKAGE
*.exe
/.vs/EngineGL

# NUGET PACKAGE
EngineGL.Editor/freetype6.dll
