# IDEA
.idea
.idea/*

# USER
*.user

# Settings
*.DotSettings

# OBJECT
obj
obj/*

# BIN
bin
bin/*

# PACKAGE
packages
packages/*

# BUILDED PACKAGE
*.exe
/.vs/EngineGL

# VS
.vs
.vs/*

# NUGET PACKAGE
*.nupkg
EngineGL.Editor/freetype6.dll
